.GameLoader {
    z-index: 99999;
    width: 1920px;
    height: 1080px;
    position: fixed;
    background-color: #202020;
    top: 0;
}

.backgroundObj {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
}

.gooey {
    position: absolute;
    margin-top: 50px;
    left: 50%;
    width: 142px;
    height: 40px;
    margin: 10px 0 0 -71px;
    /* background: #fff; */
    filter: contrast(20);
}

.gooey .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    filter: blur(4px);
    background: rgb(255, 255, 255);
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
}

.gooey .dots {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
}

.gooey .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    filter: blur(4px);
    background: rgb(255, 255, 255);
    border-radius: 50%;
}

@keyframes dot {
    50% { transform: translateX(96px); }
}
 
@keyframes dots {
    50% { transform: translateX(-31px); }
}

.loaderInfoBox {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 450px;
}

/* typing animations */
.GameLoaderInfo {
    color: #fff;
    width: fit-content;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: -0.5px;
}