
.myCanvas {
    width: 100%; 
    /* height: 600px; */
    /* width: 100%;  */
    height: 100%;
    background: #ddd;
}

.canvasBox { 
    display: flex;
    flex-direction: row;
    height: 100%;
  }
	
.canvas {
    flex: 11;
    padding: 10px;
}

.canvasTool {
    flex: 1;
    padding: 165px 34px 45px 0;
}

.canvasToolBox {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px #e2e2e2;
    border-radius: 100px;
    justify-content: center;
    padding: 30px 0;
    height: 100%;
    width: 85px;
}

.canvasToolBox button {
    color: white;
    border: none;
    padding: 20px;
    font-size: 31px;
    height: 60px;
    width: 70%;
    box-shadow: 0px 0px 11px #dbdbdb;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 70%;
    margin: auto;
}

.canvasToolBox button:hover {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.172);
}

.canvasToolBox button:focus {
    box-shadow: inset 0 0 0 3px #20202050;
}

.colorButtons1 {
    flex: 1;
    background-color: #d93434;
}

.colorButtons2 {
    flex: 1;
    background-color: #48abe0;
}

.colorButtons3 {
    flex: 1;
    background-color: #f0e73a;
}

.colorButtons4 {
    flex: 1;
    background-color: #9bf03a;
}

.colorButtons5 {
    flex: 1;
    background-color: #ff7f00;
}

.colorButtons6 {
    flex: 1;
    background-color: #a243ff;
}

.colorButtons7 {
    flex: 1;
    background-color: #000000;
}

.colorButtons8 {
    flex: 1;
    background-color: #ffffff;
}
