
.mainLobby{
    display: flex;
    height: 1080px;
    width: 1920px;
    padding: 0px 40px;
    gap: 0px;
    justify-content: center;
    margin: auto;
}

/* main lobby header */
.lobbyleft {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 30px 50px;
}

.profileSection {
    flex: 5;
    object-fit: cover;
    height: 150px;
    margin: auto;
}

.lobbyLogo {
    position: absolute;
    width: 490px;
    height: 220px;
    margin: auto;
    object-fit: contain;
    margin-top: 10px;
}

.prifileImg {
    background-image: url('../../public/img/AudreyHepburnToyFace.jpg');
    background-size: contain;
    margin-top: 175px;
    height: 490px;
    width: 490px;
    border: 15px solid #000000;
}

.nickname {
    color: #ffffff;
    font-size:45px;
    font-weight: 550;
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
}

/* for game btns */

.lobbyGameBtns {
    display: flex;
    flex: 1.9;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.GameBtn {
    width: 98%;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 70px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 10px;

    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.GameBtn:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.startBtn {
    background-image: linear-gradient(to right, #3c292d, #634851, #683440, #764364);

    margin-bottom : 30px;
}

.makeBtn {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);

    margin-bottom : 30px;
}


/* utility btns */
.TapButton {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid black;
    height: fit-content;
}

.MainLobbyContent {
    display: flex;
    flex: 2.5;
    flex-direction: column;
    padding: 30px 50px;
}

.flexboxRow{
    display: flex;
    background-color: #ffecb3;
    flex-direction: column;
}

.flexcontainer > div{
  background: #ffecb3;
  border: 3px solid #ffcc80;
  border-radius: 5px;
  padding: 8px;
}



.MainLobbyTap {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.modal {
    top: 15%;
}

.modalBody {
    padding: 15px 25px;
    text-align : center;
}

.label {
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 3px;
    padding-left: 3px;
}

.error {
    display: block;
    /* display: none; */
    padding-top : 5px;
    padding-left: 10px;
    color : red;
    font-size: 13px;
}

.joinForm {
    border : 1px solid #dedede;
}

.mb3 {
    padding: 0 0 10px;
    margin-bottom: 10px;
}

.okMsg{
    padding-top : 5px;
    padding-left: 10px;
    font-size: 13px;
    color: #fff;
}

.errMsg{
    padding-top : 5px;
    padding-left: 10px;
    font-size: 13px;
    color: red;
}

.inviteModal{
    top: 650px;
}

.modal {
    font-size: 1.8rem;
}

.modalFooter {
    margin: auto;
}

.MainLobbyTapContents {
    flex: 5;
}